.containerCP {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.changeCard {
    width: 500px;
    padding: 2rem;
    border-radius: 10px;
    background-color: #f9fafb;
    box-shadow: 0 4px 8px 0 rgba(231, 216, 216, 0.2);
}

.textRed {
    color: red;
    margin-top: 4px; /* Adiciona margem superior para espaçamento */
}

.cancelButton {
    background-color: #f44336;
    border: none;
}

.confirmButton {
    background-color: #4caf50;
    border: none;
}

@media screen and (max-width: 600px) {
    .changeCard {
        padding: 1rem; /* Reduz o padding em telas menores */
    }

    .flex {
        flex-direction: column; /* Alinha os elementos verticalmente em telas menores */
    }

    .justify-content-between {
        justify-content: center; /* Centraliza os botões em telas menores */
    }

    .cancelButton, .confirmButton {
        width: 100%; /* Faz os botões ocuparem 100% da largura em telas menores */
        margin-bottom: 0.5rem; /* Adiciona margem inferior para espaçamento entre os botões */
    }
}