.containerProfile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f9fafb;
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
    max-width: 40rem;
}

.flex-grow-1 {
    width: 100%;
}

.inputField {
    width: 100%;
    margin-bottom: 1rem;
}

.p-icon-field {
    width: 100%;
}

.p-card-subtitle {
    margin: 0 0 15px 0;
}

.buttonGroup {
    margin-top: 1rem;
}

.textRed {
    color: #ef4444;
}

@media screen and (max-width: 920px) {
  .gridContainer {
    grid-template-columns: 1fr;
  }
}