.cardProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px;
    border: 1px solid #dddddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.profileImage {
    width: 150px;
    height: 150px;
    margin-top: 10px;
}