body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f7a1;
}

label{
    display: block;
    font-size: 1.1rem;
}

.card{
    margin: 0 auto;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-align: center;
}

.p-card-subtitle{
    margin: 0 0 0 0;
}

.p-card-content{
  padding-top: 0px;
  padding-bottom: 0px;
}

.logo{
    width: 70%;
}

.password .username{
    width: 100%;
}

.p-icon-field {
    width: 100%;
  }

@media screen and (max-width: 920px) {
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f7a1;
  }
    
  .card {
    width: 100%;
  }

  .logo{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: auto;
  }
    
}