.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f7a1;
}

label{
    display: block;
    font-size: 1.1rem;
}

.card{
    width: 30%;
    height: 35%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-align: center;
}

.submit{
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #46b7d0;
    border-color: white;
    min-width: 300px;
}

.password .username{
    width: 100%;
}
