.containerLog {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cardLogin{
    width: 30rem; 
    background-color: #ffffff;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
}

.loginLabel {
  display: block;
  margin-bottom: 5px;
  text-align: left;
  width: 80px;
}

.logo{
    width: 50%;
}

.aLogin{
  display: block;
  text-align: center;
  font-size: .875rem;
  margin-bottom: 1.5rem; 
}

.recPass{
  display: block;
  text-align: center;
  font-size: 0.875rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.button{
  background-color: #4ade80;
  border: #4ade80;
}

@media screen and (max-width: 920px) {
  .containerLog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  .cardLogin {
    width: 90%;
    height: auto;
    border-radius: 10px;
    background-color: #f9fafb;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(231, 216, 216, 0.2);
    margin: 0 auto;
    text-align: center;
  }

  .logo {
    width: 80%;
    margin-bottom: 1rem;
  }

  .loginLabel {
    width: auto;
    margin-right: 1rem;
  }

  .loginMail, .loginPass {
    width: 100%;
    margin-bottom: 1rem;
  }

  .recPass {
    text-align: center;
    margin-bottom: 1rem;
  }

  .button {
    width: 100%;
  }
}