body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f7a1;
}

label{
    display: block;
    font-size: 1.1rem;
}

.card{
    width: 50%;
    height: 60%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-align: center;
}

.password .username{
    width: 100%;
}

.p-icon-field {
    width: 100%;
  }

  @media screen and (max-width: 768px) {
    body{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f5f5f7a1;
    }
    
    .card {
      width: 100%;
    }
    
  }