.signupcard{
    margin: 0 auto;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-align: center;
}

.p-card-subtitle{
    margin: 0 0 15px 0;
}

.signupdata {
    padding-top: 10px;
    padding-bottom: 11px;
}