.containerRP {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	padding: 1rem; /* Adiciona padding para evitar que o conteúdo encoste nas bordas */
}

.recoverCard {
	width: 100%;
	max-width: 500px;
	padding: 2rem;
	border-radius: 10px;
	background-color: #f9fafb;
	box-shadow: 0 4px 8px 0 rgba(231, 216, 216, 0.2);
}

.title {
	text-align: center;
}

.subtitle {
	text-align: center; /* Centraliza o subtítulo */
}

.inputGroup {
	display: flex;
	align-items: center;
	width: 100%;
}

.label {
	min-width: 100px; /* Garante que o label tenha uma largura mínima */
}

.inputField {
	flex-grow: 1;
	min-width: 0; /* Garante que o input não ultrapasse os limites do contêiner */
}

.cancelButton {
	background-color: #f44336;
	border: none;
	margin-right: 1rem;
}

.confirmButton {
	background-color: #4caf50;
	border: none;
}

/* Regras de mídia para dispositivos móveis */
@media screen and (max-width: 600px) {
	.recoverCard {
		padding: 1rem; /* Reduz o padding em telas menores */
	}

	.inputGroup {
		flex-direction: column;
		align-items: flex-start;
	}

	.inputField {
		width: 100%; /* Faz o campo de input ocupar 100% da largura em telas menores */
	}

	.cancelButton, .confirmButton {
		width: 100%; /* Faz os botões ocuparem 100% da largura em telas menores */
		margin-bottom: 0.5rem; /* Adiciona margem inferior para espaçamento entre os botões */
	}
}