.containerRP {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	padding: 1rem;
}

.recoverCard {
	width: 100%;
	max-width: 500px;
	padding: 2rem;
	border-radius: 10px;
	background-color: #f9fafb;
	box-shadow: 0 4px 8px 0 rgba(231, 216, 216, 0.2);
}

.title {
	text-align: center;
}

.subtitle {
	text-align: center;
}

.inputGroup {
	display: flex;
	align-items: center;
	width: 100%;
}

.label {
	min-width: 100px;
	margin-right: 10px;
}

.inputField {
	flex-grow: 1;
	min-width: 0;
}

.cancelButton {
	background-color: #f44336;
	border: none;
	margin-right: 1rem;
}

.confirmButton {
	background-color: #4caf50;
	border: none;
}

@media screen and (max-width: 600px) {
	.recoverCard {
		padding: 1rem;
	}

	.inputGroup {
		flex-direction: column;
		align-items: flex-start;
	}

	.inputField {
		width: 100%;
	}

	.cancelButton, .confirmButton {
		width: 100%; 
		margin-bottom: 0.5rem;
	}
}